*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: rale;
    src: url(Fuente/Raleway-Regular.ttf);
}

body{
    font-family: rale;
    background-color: #000000;
}

header{
    width: 100%;
    background-color: #364899;
    color: white;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

nav{
    display: grid;
    grid-template-columns: repeat(8, 1fr) 10px;
    gap: 2em;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
    padding: 1px;    
}

.title{
    grid-area: 1/2/2/4;
}

.links{
    grid-area: 1/4/2/9;
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

.links > a:hover{
    transform: scale(1.3);
    transition: all .4s ease;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.interes{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    align-items: center;
    gap: 10px;
}
.img{
    width: 400px;
    text-align: center;
}

.inicio{
    padding: 10px;
    color: white;
}

.interes:hover{
    transform: scale(1.08);
    transition: all .4s ease;
    border: 2px solid white;
}

.pc{
   width: 80%;
   padding: 10px;
}

.img-laptop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.laptop1:hover{
    transform: scale(1.1);
    transition: all .4s ease;
    filter: drop-shadow( 10px 10px 100px rgba(3, 103, 253, 0.986));
}
.laptop2:hover{
    transform: scale(1.1);
    transition: all .4s ease;
    filter: drop-shadow( 10px 10px 100px rgba(3, 103, 253, 0.986));

}
.laptop3:hover{
    transform: scale(1.1);
    transition: all .4s ease;
    filter: drop-shadow( 10px 10px 100px rgba(3, 103, 253, 0.986));

}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    background-color: #333333;
    padding: 10px;
}

.title-footer{
    color: white;
}

.info-extra{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-extra > a:hover{
    text-decoration-line:underline ;
}
